*.DS_Store
*.class
*.tasty
*.log
*.swp
*~
tags

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
project/local-plugins.sbt
.history
.ensime
.ensime_cache/
.sbt-scripted/
local.sbt

# npm
node_modules

# VS Code
.vscode/
# Metals
.bloop/
.metals/
metals.sbt

# idea
.idea
.idea_modules
/.worksheet/

# scala-cli
.scala-build
sbt-launch.jar

.claude

# Ignore output files but keep the directory
out/
build/
!out/.keep
testlogs/

# Ignore build-file
.packages
/.cache-main
/.cache-tests

# Put local stuff here
/local/

/bin/.cp

# Vulpix output files
*.check.out
!/dist/bin/

# semanticdb test output files
*.expect.scala.out
*.expect.out

# Bloop
.bsp

# Coursier
cs

# only used in local development
.enable_bsp_all_projects
